section.after-installation
  .after-installation__content.container
     h2.after-installation__title.wow.animate__animated.animate__rotateInUpLeft Что Вас ждет после установки
     p.after-installation__text Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет
     ul.instruction__list
       li.instruction__item
         .instruction__image
           svg.instruction__icon
             use(xlink:href="img/sprite/sprite.svg#account_creation")
         p.instruction__text <b>Шаг 1.</b>  Создание учетной записи компании и администратора
       li.instruction__item
         .instruction__image
           svg.instruction__icon
             use(xlink:href="img/sprite/sprite.svg#account_activation")
         p.instruction__text <b>Шаг 2.</b>  Активация учетной записи 
       li.instruction__item
         .instruction__image
           svg.instruction__icon
             use(xlink:href="img/sprite/sprite.svg#setting")
         p.instruction__text <b>Шаг 3.</b>  Начальная настройка
       li.instruction__item
         .instruction__image
           svg.instruction__icon
             use(xlink:href="img/sprite/sprite.svg#button")
         p.instruction__text <b>Шаг 4.</b>  Установка кнопки Webim на сайт
       li.instruction__item
         .instruction__image
           svg.instruction__icon
             use(xlink:href="img/sprite/sprite.svg#operator")
         p.instruction__text <b>Шаг 5.</b>  Регистрация оператора
       li.instruction__item
         .instruction__image
           svg.instruction__icon
             use(xlink:href="img/sprite/sprite.svg#test")
         p.instruction__text <b>Шаг 6.</b>  Тест сервиса
     .after-installation__offer
       button.offer__opportunities Все возможности Webim
       button.offer__testing Протестировать бесплатно      