section.channels
  .channels__content.container.wow.animate__animated.animate__backInUp  
    p.channels__text Webim – это не только онлайн-консультант. Интегрируйте и другие каналы, чтобы клиенты могли обращаться к вам любым удобным способом
    ul.channels__list
      li.channels__item
        .channels__image.channels__image_social
        p.channels__desc Социальные сети
      li.channels__item
        .channels__image.channels__image_messanger
        p.channels__desc Мессенджеры
      li.channels__item
        .channels__image.channels__image_chatbot
        p.channels__desc Чат-боты
      li.channels__item
        .channels__image.channels__image_form
        p.channels__desc Форма обратной связи
      li.channels__item
        .channels__image.channels__image_dyalogs
        p.channels__desc Яндекс.Диалоги
      li.channels__item
        .channels__image.channels__image_mobile
        p.channels__desc Чат в вашем мобильном приложении
      li.channels__item
        .channels__image.channels__image_mail
        p.channels__desc Электронная почта   