.dashboard-installation
  .dashboard-installation__content.container
     h2.dashboard-installation__title Установка приложения для операторов Webim Dashboard
     p.dashboard-installation__text Чтобы быть на связи с клиентами всегда, установите приложение Webim Dashboard 
     ul.systems__list
       li.systems__item
         a.systems__link(href="#")
           h3.systems__subtitle Установка приложения Webim Dashboard для iPhone
         p.systems__text Документация по установке дополнительного программного обеспечения для операторов сервиса Webim, использующих iPhone/iPad/etc от компании Apple.
       li.systems__item
         a.systems__link(href="#")
           h3.systems__subtitle Установка приложения Webim Dashboard для Android
         p.systems__text Документация по установке дополнительного программного обеспечения для операторов сервиса Webim, использующих платформу Google Android.
       li.systems__item
         a.systems__link(href="#")
           h3.systems__subtitle Установка приложения Webim Dashboard для Ubuntu
         p.systems__text Документация по установке дополнительного программного обеспечения для операторов сервиса Webim, использующих платформу Ubuntu.
       li.systems__item
         a.systems__link(href="#")
           h3.systems__subtitle Установка приложения Webim Dashboard
         p.systems__text Документация по установке дополнительного программного обеспечения для операторов сервиса Webim под ОС Microsoft Windows.
       li.systems__item
         a.systems__link(href="#")
           h3.systems__subtitle Создание приложения Webim для Mac OS
         p.systems__text Пошаговая инструкция создания приложения для оператора Webim для Mac OS с помощью Fluid

     