footer.footer
  .footer__content.container
    .footer__copyright
      a.footer__logo(href='#')
        img(src=require("../../img/logo/logo_footer.svg"), alt='logo').footer__logo-pic
      .footer__author
        p.footer__author-text © Webim 2008-2017 Все права защищены
    .footer__contacts
        ul.contacts__list
          li.contacts__item
            .contacts__main
              .contacts__icon
              a.contacts__phone.contacts__phone_main(href="+78005004932" type="tel") +7 (800) 500-49-32
          li.contacts__item
            a.contacts__phone(href="+74993223754" type="tel") +7 (499) 322-37-54
            p.contacts__address Москва, Серебряническая набережная, 29
          li.contacts__item
            a.contacts__phone(href="+78123855337" type="tel") +7 (812) 385-53-37
            p.contacts__address Санкт-Петербург, Чкаловский проспект, 15
    .footer__socials
      ul.mail__list
        .mail__item
          a.socials__mail(href="contact@webim.ru" type="mailto") contact@webim.ru
        .mail__item
          a.socials__mail(href="sales@webim.ru" type="mailto") sales@webim.ru
      p.shedule понедельник - пятница с 10.00 - 18.00
      ul.socials__list
        li.socials__item
          a.socials__link(href="#")
            svg.socials__icon
              use(xlink:href="img/sprite/sprite.svg#vk")
        li.socials__item      
          a.socials__link(href="#")
            svg.socials__icon
              use(xlink:href="img/sprite/sprite.svg#fb")
        li.socials__item
          a.socials__link(href="#")
            svg.socials__icon
              use(xlink:href="img/sprite/sprite.svg#tw")
        li.socials__item
          a.socials__link(href="#")
            svg.socials__icon
              use(xlink:href="img/sprite/sprite.svg#skype")