header.header
  .header__content.container
     .hamburger.header__menu
        #contain
          .bar1
          .bar2
          .bar3
        ul#nav 
          li
            a(href="") Вход
          li
            a(href="") Регистрация
          li
            a(href="") Возможности
          li
            a(href="") Тарифы
          li
            a(href="") Партнерам
          li
            a(href="") Помощь
     .header__navigation#navigation
       ul.auth__list
         li.auth__item
           a.auth__link(href="#") Вход
         li.auth__item
           a.auth__link(href="#") Регистрация
           li.navigation__item
       ul.navigation__list
         li.navigation__item
           a.navigation__link(href="#") Возможности
         li.navigation__item
           a.navigation__link(href="#") Тарифы
         li.navigation__item
           a.navigation__link(href="#") Партнерам 
         li.navigation__item
           a.navigation__link(href="#") Помощь
     a.header__logo(href="#")
       img(src=require("../../img/logo/logo_head.svg"), alt='logo').header__logo-pic
       