section.html-installation
  .html-installation__content.container
     h2.html-installation__title.wow.animate__animated.animate__fadeInTopLeft Установка HTML-кода
     ul.sites__list
       li.sites__item
         a.sites__link(href="#")
           h3.sites__subtitle Установка HTML-кода Webim для сайтов на Joomla
         p.sites__text Документация по внедрению сервиса Webim на сайтах, построенных на базе <b>CMS Joomla</b>.
       li.sites__item
         a.sites__link(href="#")
           h3.sites__subtitle Установка HTML-кода Webim для сайтов на Wordrpess
         p.sites__text Документация по внедрению сервиса Webim на сайтах, построенных на базе <b>Wordrpess</b>.
       li.sites__item
         a.sites__link(href="#")
           h3.sites__subtitle Установка HTML-кода Webim для сайтов на uCoz.ru
         p.sites__text Документация по внедрению сервиса Webim на сайтах, построенных на базе <b>uCoz.ru</b>.
       li.sites__item
         a.sites__link(href="#")
           h3.sites__subtitle Установка HTML-кода Webim для сайтов на webasyst.ru
         p.sites__text Документация по внедрению сервиса Webim на сайтах, построенных на базе webasyst.ru.
       li.sites__item
         a.sites__link(href="#")
           h3.sites__subtitle Установка HTML-кода Webim для любого сайта
         p.sites__text Документация по внедрению сервиса Webim на сайтах с другой CMS или написанных вручную.