section.installation
  .installation__content.container
    h2.installation__title.wow.animate__animated.animate__slideInDown Установка Webim
    p.installation__text Установка онлайн-консультанта Webim на ваш сайт не займет много времени. Вы можете установить онлайн-консультант Webim на ваш сайт и протестировать его в течение 7 дней бесплатно.   
    .installation__offer
      button.offer__free Попробовать бесплатно
      button.offer__rates Тарифы 