section.simple-installation
  .simple-installation__content.container
    h2.simple-installation__title.wow.animate__animated.animate__zoomIn Простая установка
    p.simple-installation__text Установка онлайн-консультанта Webim не займет более 15 минут
    ul.step__list
      li.step__item.step__item_first
        svg.step__item_registry
          use(xlink:href="img/sprite/sprite.svg#registry")
        a.item__title(href="#") Регистрация
      li.step__item.step__item_second 
        svg.step__item_html
          use(xlink:href="img/sprite/sprite.svg#html")
        a.item__title(href="#") Установка HTML-кода