.channels__content.container  {
    @include tablets() {
        max-width: 1480px;
        padding-left: 10%;
    }
    @include laptops() {
        padding-left: 18%;
    }
}

.channels__content.container  {
    @include tablets() {
        // padding-left: 9%;
    }
}


.channels{
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 90px;
}

.channels__text{
    color: #3b4269;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    line-height: 33px;
    letter-spacing: 1.2px;

    @include tablets() {
        font-size: 1.25rem;
        width: 90%;
        max-width: 777px;
    }
}

.channels__list{
    margin-top: 84px;

    @include tablets() {
       display: flex;
       flex-wrap: wrap;
    }
}

.channels__image{
    width: 75px;
    height: 75px;

    @include tablets() {
        width: 40px;
        height: 40px;
        
     }
}

.channels__item{
    display: flex;
    align-items: center;
    margin-bottom: 48px;

    @include tablets() {
        width: 33%;
     }
    
}

.channels__image_social{
    background: url('../../img/icons/social_network.svg') center center no-repeat;
    background-size: contain
}
.channels__image_messanger{
    background: url('../../img/icons/messanger.svg') center center no-repeat;
    background-size: contain
}
.channels__image_chatbot{
    background: url('../../img/icons/chatbot.svg') center center no-repeat;
    background-size: contain
}
.channels__image_form{
    background: url('../../img/icons/feedback.svg') center center no-repeat;
    background-size: contain
}
.channels__image_dyalogs{
    background: url('../../img/icons/yandexd.svg') center center no-repeat;
    background-size: contain
}
.channels__image_mobile{
    background: url('../../img/icons/mobile.svg') center center no-repeat;
    background-size: contain
}
.channels__image_mail{
    background: url('../../img/icons/email.svg') center center no-repeat;
    background-size: contain
}

.channels__desc{
    color:  #0da088;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: underline;
    text-align: left;
    margin-left: 45px;
    cursor: pointer;
    max-width: 330px;

    &:hover{
        text-decoration: none;
    }

    @include tablets() {
        margin-left: 30px;
        font-size: 1.125rem;
     }
}


