extends /../base

block variables
    - var title = 'Installation'

block content
  include ../section/header
  include ../section/installation
  include ../section/simple-installation
  include ../section/html-installation
  include ../section/dashboard-installation
  include ../section/after-installation
  include ../section/channels
  include ../section/footer
